<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.zhengxu.mapper.UserMapper">
    <resultMap id="baseMap" type="User">
        <id column="USE_ID" property="useId"/>
        <result column="USE_NAME" property="useName"/>
        <result column="USE_PHONE" property="usePhone"/>
        <result column="USE_SEX" property="useSex"/>
        <result column="USE_AGE" property="useAge"/>
        <result column="USE_LOTTERY_NUMBER" property="useLotteryNumber"/>
        <result column="DATA_DELETE" property="dataDelete"/>
    </resultMap>
    <select id="selectOne" resultMap="baseMap">
        SELECT * FROM zx_user WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="baseMap">
        SELECT *
        FROM zx_user
    </select>

    <update id="update" parameterType="User">
        UPDATE zx_user
        SET
        USE_NAME=#{useName},USE_PHONE=#{usePhone},USE_AGE=#{useAge},USE_SEX=#{useSex},USE_LOTTERY_NUMBER=#{useLotteryNumber}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM zx_user WHERE id=#{id}
    </delete>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO zx_user(USE_NAME, USE_PHONE, USE_AGE, USE_SEX, USE_LOTTERY_NUMBER)
        VALUES (#{useName},#{usePhone},#{useAge},#{useSex},#{useLotteryNumber})
    </insert>
</mapper>
